<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Error</title>
</head>
<body>
	<h1 layout:fragment="header">Error</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Key</td>
					<td>Value</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${attributes.empty}">
					<td colspan="3">No error specification</td>
				</tr>
				<tr th:each="attribute : ${attributes}">
					<td th:text="${attribute.key}">1</td>
					<td th:text="${attributes[attribute.key]}">Name</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
